[submodule "mysql-colorize.bash"]
	path = mysql-colorize.bash
	url = https://github.com/horosgrisa/mysql-colorize.bash
[submodule "powerline_fonts"]
	path = powerline_fonts
	url = https://github.com/powerline/fonts
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
